---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Skatemap">
  <main>
    <img src="/logo.svg" alt="Skatemap logo" class="main-logo" />
    <section class="store-links">
      <a href="https://testflight.apple.com/join/9guF8i0g">
        <img src="/appstore.svg" alt="Download on the App Store" />
      </a>
      <a href="https://getupdraft.com/getapp/eb7c8afe96d64bd099934318910d9de5">
        <img src="/updraft.svg" alt="Download on the Updraft" />
      </a>
    </section>
    <footer class="footer">
      <a href="/privacy-policy">Privacy Policy</a>
      <a href="/terms-and-conditions">Terms & Conditions</a>
    </footer>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding-top: 10rem;
    width: 100%;
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  main .main-logo {
    display: block;
    margin: 0 auto;
    max-width: 50%;
    /* height: 400px; */
  }

  .store-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 5rem;
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
  }

  .footer a {
    font-size: 1rem;
    text-decoration: none;
    margin: 0 10px;
  }
</style>
