---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Skatemap">
  <main>
    <img src="/logo.svg" alt="Skatemap logo" class="main-logo" />
    <section class="store-links">
      <a href="https://apps.apple.com/ch/app/skatemap-ae/id1669568287">
        <img src="/appstore.svg" alt="Download on the App Store" />
      </a>
      <a href="https://play.google.com/store/apps/details?id=ae.skatemap.app">
        <img src="/google_play.svg" alt="Download on the Google Play" />
      </a>
    </section>
    <footer class="footer">
      <a href="/privacy-policy">Privacy Policy</a>
      <a href="/terms-and-conditions">Terms & Conditions</a>
    </footer>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 8rem 0 7rem;
    width: 100%;
    color: white;
    font-size: 20px;
    line-height: 1.6;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: calc(100vh - 15rem);
    justify-content: space-between;
  }

  main .main-logo {
    display: block;
    margin: 0 auto;
    max-width: 50%;
    /* height: 400px; */
  }

  .store-links {
    display: flex;
    justify-content: center;
    justify-self: flex-end;
    gap: 1rem;
    margin-top: 5rem;
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
  }

  .footer a {
    color: #fff;
    font-size: 0.8rem;
    text-decoration: none;
    margin: 0 10px;
  }
</style>
