---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Skatemap">
  <main>
    <a href="/" class="main-logo">
      <img src="/logo.svg" alt="Skatemap logo" />
    </a>
    <h1>Privacy Policy</h1>
    <p>
      skatemap.ae respects the privacy of its users. This Privacy Policy
      explains how we collect, use, disclose, and safeguard your information
      when you use our mobile application skatemap.ae (the "Application").
      Please read this Privacy Policy carefully. IF YOU DO NOT AGREE WITH THE
      TERMS OF THIS PRIVACY POLICY, PLEASE DO NOT ACCESS THE APPLICATION.
    </p>
    <p>
      We reserve the right to make changes to this Privacy Policy at any time
      and for any reason. We will alert you about any changes by updating the
      "Last updated" date of this Privacy Policy. You are encouraged to
      periodically review this Privacy Policy to stay informed of updates. You
      will be deemed to have been made aware of, will be subject to, and will be
      deemed to have accepted the changes in any revised Privacy Policy by your
      continued use of the Application after the date such revised Privacy
      Policy is posted.
    </p>

    <h3>COLLECTION AND USE OF INFORMATION</h3>
    <p>
      We may collect personal information that you voluntarily provide to us
      when you register with the Application and when you participate in certain
      activities on the Application, such as subscribing to our newsletter or
      contacting us directly. The personal information we collect may include
      your name, email address, and any other information you choose to provide.
    </p>
    <p>
      We may use the information we collect from you when you register, sign up
      for our newsletter, respond to a survey or marketing communication, surf
      the website, or use certain other features of the Application in the
      following ways:
    </p>
    <ul>
      <li>
        To personalize your experience and to allow us to deliver the type of
        content and product offerings in which you are most interested.
      </li>
      <li>
        To send periodic emails regarding your order or other products and
        services.
      </li>
      <li>
        To follow up with you after correspondence (live chat, email, or phone
        inquiries).
      </li>
    </ul>

    <h3>DISCLOSURE OF INFORMATION</h3>
    <p>
      We do not sell, trade, or otherwise transfer to outside parties your
      personally identifiable information. This does not include trusted third
      parties who assist us in operating our application, conducting our
      business, or servicing you, so long as those parties agree to keep this
      information confidential. We may also release your information when we
      believe release is appropriate to comply with the law, enforce our site
      policies, or protect ours or others' rights, property, or safety.
    </p>

    <h3>LOG DATA</h3>
    <p>
      We want to inform you that whenever you use our Service, in a case of an
      error in the app, we collect data and information (through third-party
      products) on your phone called Log Data. This Log Data may include
      information such as your device Internet Protocol (“IP”) address, device
      name, operating system version, the configuration of the app when
      utilizing our Service, the time and date of your use of the Service, and
      other statistics.
    </p>

    <h3>USER-GENERATED CONTENT</h3>
    <p>
      Our Application allows users to add pins to the map as they see fit. We do
      not regulate or intervene in the process of adding pins, and users are
      solely responsible for the content they contribute. We do not endorse,
      represent, or guarantee the completeness, truthfulness, accuracy, or
      reliability of any user-generated content.
    </p>

    <h3>SECURITY</h3>
    <p>
      We value your trust in providing us with your Personal Information, thus
      we are striving to use commercially acceptable means of protecting it. But
      remember that no method of transmission over the internet, or method of
      electronic storage is 100% secure and reliable, and we cannot guarantee
      its absolute security.
    </p>

    <h3>LINKS TO OTHER SITES</h3>
    <p>
      This Service may contain links to other sites. If you click on a
      third-party link, you will be directed to that site. Note that these
      external sites are not operated by us. Therefore, we strongly advise you
      to review the Privacy Policy of these websites. We have no control over
      and assume no responsibility for the content, privacy policies, or
      practices of any third-party sites or services.
    </p>

    <h3>CHILDREN’S PRIVACY</h3>
    <p>
      These Services do not address anyone under the age of 13. We do not
      knowingly collect personally identifiable information from children under
      13 years of age. In the case we discover that a child under 13 has
      provided us with personal information, we immediately delete this from our
      servers. If you are a parent or guardian and you are aware that your child
      has provided us with personal information, please contact us so that we
      will be able to do necessary actions.
    </p>

    <h3>CHANGES TO THIS PRIVACY POLICY</h3>
    <p>
      We may update our Privacy Policy from time to time. Thus, you are advised
      to review this page periodically for any changes. We will notify you of
      any changes by posting the new Privacy Policy on this page. These changes
      are effective immediately after they are posted on this page.
    </p>

    <h3>CONTACT US</h3>
    <p>
      If you have any questions or suggestions about our Privacy Policy, do not
      hesitate to contact us at <a href="mailto:skatemapae@protonmail.com"
        >skatemapae@protonmail.com</a
      >
    </p>

    <footer class="footer">
      <a href="/privacy-policy">Privacy Policy</a>
      <a href="/terms-and-conditions">Terms & Conditions</a>
    </footer>
  </main>

  <style>
    main {
      margin: auto;
      padding: 30px;
      width: calc(100% - 60px);
      color: #000;
      font-size: 20px;
      line-height: 1.6;
      background: #c9c9c9;
    }

    .main-logo {
      padding: 10px;
      display: flex;
      justify-content: center;
    }

    .main-logo img {
      max-width: 80%;
    }

    .footer {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10px;
      display: flex;
      justify-content: center;
    }

    .footer a {
      font-size: 1rem;
      text-decoration: none;
      margin: 0 10px;
    }
  </style>
</Layout>
